[user]
	name = batunpc
	email = batuhnpc@gmail.com
[color]
	ui = true
[color "status"]
	changed = blue normal
	untracked = red normal
	added = magenta normal
	updated = green normal
	branch = yellow normal bold
	header = white normal bold
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	
[core]
	eol = lf
	autocrlf = false
	hooksPath = .husky
	editor = code --wait
[fsck]
	zeroPaddedFilemode = ignore
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
[oh-my-zsh]
	lastVersion = 5c950922bfe765ca77b9980bee1f1202cee520b6
[pull]
	rebase = false

[remote "origin"]
	url = https://github.com/glific/waffle_gcs
