[user]
	name = batunpc
	email = batuhnpc@gmail.com
[color]
	ui = true
[color "status"]
	changed = blue normal
	untracked = red normal
	added = magenta normal
	updated = green normal
	branch = yellow normal bold
	header = white normal bold
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	
[core]
	eol = lf
	autocrlf = false
	hooksPath = .husky
	editor = code --wait
[fsck]
	zeroPaddedFilemode = ignore
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
[oh-my-zsh]
	lastVersion = 75cad33179f0d3aab148f84ccdb8d487c85d9b2e
[pull]
	rebase = false
[credential]
	username = batunpc

log-standup = !git log --since yesterday --pretty=short --author `git config user.email`
