[user]
	name = batunpc
	email = batuhnpc@gmail.com
[color]
	ui = true
[color "status"]
	changed = blue normal
	untracked = red normal
	added = magenta normal
	updated = green normal
	branch = yellow normal bold
	header = white normal bold
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	
log-standup = !git log --since yesterday --pretty=short --author `git config user.email`
[core]
	eol = lf
	autocrlf = false
	hooksPath = .husky
[fsck]
	zeroPaddedFilemode = ignore
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
[oh-my-zsh]
	lastVersion = c0c011100885ca03531c1604e268fcd81c374f9c
[submodule "external/glfw"]
	url = https://github.com/glfw/glfw.git
	active = true
[pull]
	rebase = false
